<div class="row">
  <div class="col-3">
    <input type="email" [formField]="loginForm.email" />
    <div>
      <!-- @if (loginForm.email().invalid()) {
        <span style="color: red">Invalid email</span>
      } -->
      @for (item of loginForm.email().errors(); track $index) {
        <span style="color: red">{{ item.message }}</span>
      }
    </div>
  </div>
  <div class="col-3">
    <input type="text" [formField]="loginForm.password" />
  </div>
  <div class="col-3">
    <input type="checkbox" [formField]="loginForm.rememberMe" />
  </div>
  <div class="row">
    <div class="col-3">
      {{ loginForm().value() | json }}
    </div>
  </div>
</div>
